* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.class binary
*.gif binary
*.ico binary
*.jar binary
*.jpg binary
*.pdf binary
*.png binary
*.tif binary
*.zip binary
